.services__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}
.service {
    background: var(--color-bg-variant);
    padding: 2rem;
}
.service__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.service__list li {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* TABLETS AND SMALL LAPTOPS */
@media (max-width: 768px) {
    .services__container {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
}