.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}
.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.5rem;
    border: 1px solid transparent;
    border-radius: 2rem;
    transition: var(--transition);
}
.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}
.portfolio__item-image {
    border-radius: 1rem;
    overflow: hidden;
}
.portfolio__item h3 {
    margin: 1.2rem 0 2rem;
}
.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* ===================MEDIUM DEVICES(TABLETS)================= */
@media (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
   
}

/* ===================SMALL DEVICES(MOBILE PHONES)================= */
@media (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
    }
    .portfolio__item {
        width: 90%;
        margin: 0 auto;
    }
    .portfolio__item h3 {
        margin: 1.2rem 0 1.2rem;
    }
}